.dialogsItems{
   display: grid;
   grid-template-columns: 2fr 10fr;
}
.dialog li{
   padding: 10px;
}
.messages li{
   padding: 10px;
}
.active{
   color: rgb(218, 65, 180);
}
.dialog li a:hover{
   color:red
}
.dialogsItems a{
   color: #fff;
   text-decoration: none;
}
.dialogsItems a:hover{
   color: red;
}